sentence-transformers
chromadb==0.4.24
ctransformers==0.2.27

huggingface-hub==0.20.3

langchain==0.1.9
langchain-community==0.0.24
langchain-core==0.1.27
langdetect==1.0.9
langsmith==0.1.10

prompt-toolkit==3.0.43
protobuf==4.25.3

pydantic==2.6.2
pydantic_core==2.16.3

pyparsing==3.1.1
pypdf==4.0.2

PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-iso639==2024.2.7
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.9

regex==2023.12.25
replicate==0.24.0


streamlit==1.31.1
streamlit-chat==0.1.1

tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0

transformers==4.38.1

unstructured==0.12.5
unstructured-client==0.18.0
